/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover {
  text-decoration: none !important;
}
button {
  cursor: pointer;
}
/*   Start styles */
.pointer {
  cursor: pointer;
}
.blue_background {
  background: #2988e2;
}
.left_inline {
  display: inline-block;
  float: left;
}
body {
  background: #2988e2;
  color: #898989;
  font-size: 16px;
}
@media (max-width: 360px) {
  body {
    font-size: 12px;
  }
}
.container {
  width: 1200px;
  margin: 90px auto;
  background: #fff;
  -webkit-box-shadow: 0 14px 46px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 14px 46px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 14px 46px 0 rgba(0, 0, 0, 0.75);
}
@media (max-width: 240px) {
  .container {
    width: 99%;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 90%;
  }
}
.wrapper {
  margin: 0 auto;
  width: 73%;
}
@media (max-width: 1199px) {
  .wrapper {
    margin: 0 auto;
    width: 95%;
  }
}
.clear {
  clear: both;
}
.top-panel {
  height: 75px;
  line-height: 75px;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 4px;
}
.col {
  display: inline-block;
}
.col-38-percent {
  width: 38%;
}
.col-46-percent {
  width: 46%;
}
.col-16-percent {
  width: 15%;
  text-align: right;
}
@media (min-width: 10px) and (max-width: 359px) {
  .logo {
    width: 45%;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .logo {
    width: 15%;
  }
}
.logo img {
  display: inline-block;
  vertical-align: middle;
}
.logo:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.menu {
  display: block;
  font-size: 12px;
}
@media (max-width: 1199px) {
  .menu {
    display: none;
  }
}
.menu li {
  display: inline-block;
  text-transform: uppercase;
}
.menu li:hover {
  border-bottom: 4px solid #2988e2;
  color: #2988e2;
}
.menu li a {
  padding: 7px;
}
@media (min-width: 240px) and (max-width: 767px) {
  .menuBtn {
    right: 50px;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  .menuBtn {
    right: 165px;
  }
}
@media (max-width: 1199px) {
  .menuBtn {
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 105px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: 0;
  }
}
@media (min-width: 1200px) {
  .menuBtn {
    display: none;
  }
}
@media (max-width: 1199px) {
  .menuBtn:focus {
    outline: none;
  }
}
@media (max-width: 1199px) {
  .menuBtn span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
  }
}
@media (max-width: 1199px) {
  .menuBtn span:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    top: -15px;
    background-color: #000;
    transition: .3s;
  }
}
@media (max-width: 1199px) {
  .menuBtn span:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    top: 15px;
    background-color: #000;
    transition: .3s;
  }
}
@media (max-width: 1199px) {
  .menuBtn.toggle span {
    background: transparent;
  }
}
.menuBtn.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}
.menuBtn.toggle span:after {
  top: 0;
  transform: rotate(-45deg);
}
@media (min-width: 769px) and (max-width: 1199px) {
  .buttons {
    width: 20%;
  }
}
@media (max-width: 1199px) {
  .buttons {
    float: right;
  }
}
.buttons span {
  margin-left: 5px;
}
.buttons span i {
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #333333;
  height: 30px;
  width: 30px;
  color: #fff;
  cursor: pointer;
}
.buttons span i:hover {
  background: #2988e2;
}
@media (max-width: 768px) {
  .buttons {
    display: none;
  }
}
.slider {
  width: 100%;
  margin-bottom: 0;
}
.slider div {
  height: 540px;
  text-align: center;
}
.slider div h1 {
  margin: 145px 0 60px;
  line-height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 768px) {
  .slider div h1 {
    margin-top: 30px;
  }
}
.slider div span {
  margin: 0 10px;
  display: inline-block;
}
.slider div span a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #2988e2;
  background: #fff;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
}
.slider div span a:hover {
  color: #ffffff;
  background: #2988e2;
}
.slide1 {
  background: url("../images/nature.jpg");
}
.slide2 {
  background: url("../images/nature2.jpg");
}
.slide3 {
  background: url("../images/nature3.jpg");
}
.slide4 {
  background: url("../images/nature.jpg");
}
.slide5 {
  background: url("../images/nature2.jpg");
}
.slide {
  background-size: cover;
}
.about {
  padding: 80px 0 40px;
  background: #efefef;
}
.about p a {
  color: #2988e2;
}
.about a i {
  font-size: 12px;
}
h2 {
  font-size: 26px;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}
.col-49-percent {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  line-height: 100%;
}
@media (max-width: 992px) {
  .col-49-percent {
    width: 100%;
  }
}
.col-49-percent p {
  margin-bottom: 30px;
}
.col-49-percent span {
  display: inline-block;
}
.col-49-percent span a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: #2988e2;
  padding: 10px 15px;
}
@media (max-width: 992px) {
  .col-img {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .col-img img {
    width: 95%;
  }
}
@media (max-width: 1199px) {
  .active {
    left: 0;
    -webkit-box-shadow: 26px 25px 71px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 25px 71px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 25px 71px 3px rgba(0, 0, 0, 0.75);
  }
}
@media (max-width: 1199px) {
  .m_menu {
    position: absolute;
    top: 30px;
    left: -200px;
    padding: 0;
    display: block;
    list-style: none;
    transition: 1s;
    background: #2b2b2a;
    opacity: 0.9;
    border-radius: 5px;
    z-index: 15;
    width: 200px;
  }
  .m_menu li {
    display: block;
    padding-left: 15px;
    border-bottom: 2px solid lightgrey;
  }
  .m_menu li a {
    text-decoration: none;
    display: block;
    width: auto;
    font-size: 16px;
    color: #cecaca;
    opacity: 0.9;
    text-transform: uppercase;
  }
  .m_menu li a:hover {
    opacity: 1;
  }
}
@media (max-width: 1199px) {
  .m_menu.down {
    left: 0;
  }
}
#advantages {
  background: #252525;
}
#advantages .advantages_list {
  padding: 80px 60px 40px 0;
}
#advantages .advantages_list h2 {
  margin: 0;
  color: #fff;
}
#advantages .advantages_list h6 {
  margin: 5px 0 25px 0;
}
#advantages .advantages_list ul li:last-child {
  margin-bottom: 25px;
}
#what_we_can {
  background: #eeeeef;
}
#what_we_can h2 {
  display: block;
  padding: 40px 0;
  background: #2988e2;
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
}
.col-33-percent {
  display: inline-block;
  padding-bottom: 70px;
  width: 33.33%;
  float: left;
  text-align: center;
  cursor: pointer;
}
.col-33-percent:hover span i {
  background: #2988e2;
  color: #eeeeef;
}
.col-33-percent:hover h6 {
  color: #2988e2;
}
.col-33-percent span {
  color: #2988e2;
}
.col-33-percent span i {
  vertical-align: middle;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: 2px solid #2988e2;
}
.col-33-percent h6 {
  margin: 20px 0;
}
.col-33-percent p {
  padding: 0 10px;
}
