body {
    background: lightgreen;
}
.gallery {
    width: 966px;
    border: 3px solid blue;
    margin: 150px auto;
    box-sizing: border-box;
}
.gallery span {
    display: inline-block;
    float: left;
    margin: 10px;
    width: 300px;
}
.gallery span img {
    width: 100%;
}
.clear {
    clear: both;
}