body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 15px;
}
#dialog {
    display: none;
}
#map {
    height: 200px;
    width: 100%;
}
.tableSmile {
    margin: 5% auto;
    border-spacing: 12px;
}
.tableSmile td:first-child {
    padding-right: 30px;

    border-bottom: solid 1px #3f7fe2;
}
.tableButton {
    background-color: #5378F5;
    color: #fff;
    text-decoration: none;
    padding: 5px 7px;
    width: 30px;
    margin-right: 5px;
    border-radius: 5px;
}
.tableButton:active {
    background-color: #fff;
    color: #5378F5;
    border: none;
}