/* Reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }
a {
	text-decoration: none;
	color: inherit;
}

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none !important; }

button {
  cursor: pointer; }

/*   Start styles */
body {
	background: #2988e2;
	color: #898989;
	font-size: 16px;
}
.container {
	width: 1200px;
	margin: 90px auto;
	background: #fff;
	-webkit-box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.75);
}
.wrapper {
	margin: 0 auto;
	width: 73%;
	/* border: 1px dashed black; */
}
.clear {
	clear: both;
}
.top-panel {
	height: 75px;
	line-height: 75px;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 4px;
}
.col {
	display: inline-block;
}
.col-038 {
	width: 38%;
}
.col-046 {
	width: 46%;
}
.col-016 {
	width: 15%;
	text-align: right;
}
.logo:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.logo img {
	display: inline-block;
    vertical-align: middle;
}
.menu {
	display: block;
	font-size: 12px;
}
.menu li {
	display: inline-block;
	text-transform: uppercase;
}
.menu li:hover {
	border-bottom: 4px solid #2988e2;
	color: #2988e2;
}
.menu li a {
	padding: 7px;
}
.buttons span {
	margin-left: 5px;
}
.buttons span i {
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	background: #333333;
	height: 30px;
	width: 30px;
	color: #fff;
	cursor: pointer;
}
.buttons span i:hover {
	background: #2988e2;
}
.slider {
	width: 100%;
	margin-bottom: 0;
}
.slider div {
	height: 540px;
	text-align: center;
}
.slider div h1 {
	margin: 145px 0 60px;
	line-height: 60px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}
.slider div span {
	margin: 0 10px;
	display: inline-block;
}
.slider div span a {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 25px;
	color: #2988e2;
	background: #fff;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.slider div span a:hover {
	color: #ffffff;
	background: #2988e2;
}
.slide1 {
	background: url("images/nature.jpg");
}
.slide2 {
	background: url("images/nature2.jpg");
}
.slide3 {
	background: url("images/nature3.jpg");
}
.slide4 {
	background: url("images/nature.jpg");
}
.slide5 {
	background: url("images/nature2.jpg");
}
.slide {
	background-size: cover;
}
.about {
	padding: 80px 0 30px;
	background: #efefef;
}
h2 {
	font-size: 22px;
	color: #000;
	font-weight: bold;
	margin-bottom: 25px;
}
.col-05 {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	line-height: 100%;
}
.col-05 p {
	margin-bottom: 30px;
}
.col-05 span a {
	display: block;
	font-size: 18px;
	color: #ffffff;
	background: #2988e2;
	padding: 10px 15px;
}
.col-05 span {
	display: inline-block;
}
.about p a {
	color: #2988e2;
}
.about a i {
	font-size: 12px;
}